*.out
*.log
**/bin
**/mex
**/lib
**/build
*.linkinfo
*.hash
*.o
*.stub.*
*.cudafe1*
*.cu.cpp
*.cpp1.ii
*.cpp2.i
*.cpp3.i
*.cudafe2*
*.ptx
*.cubin
*.fatbin*
*_o
*~
*.jpg
*.eps
*.mat
*.fits
*.JPG
*.gif
log
**/Default
**/Release
**/.settings
._*
*.d
.DS_Store
.nfs*
**/.cproject
**/.ptp-sync-folder
**/.ptp-sync
**/Debug
*.cproject
settings.json
workspace_vs.code-workspace
TomoCND_CPP*
TomoCND_ROOT*
TomoCND_FDK*
TomoCND_ITER*
**/script
**/batch*
